{% extends "index.html" %}

{% block content%}
	<h1>Administrationsbereich</h1>
	<div class="btn-toolbar" role="toolbar" aria-label="toolbar">
		<h2>Account</h2>
		<div class="btn-group" role="group" aria-label="password">
			<a class="btn btn-default" href="index.php?site=logout">Logout</a>
			<a class="btn btn-default" href="index.php?site=change-password">Passort ändern</a>
		</div>
		<br />

		<h2>Events</h2>
		<div class="btn-group" role="group" aria-label="event">
			<a class="btn btn-default" href="index.php?site=create-event">Neue Veranstaltung</a>
			<a class="btn btn-default" href="index.php?site=edit-event">Veranstaltung bearbeiten</a>
			<a class="btn btn-default" href="index.php?site=delete-event">Veranstaltung löschen</a>
		</div>
		<br />

		<h2>Genres</h2>
		<div class="btn-group" role="group" aria-label="genre">
			<a class="btn btn-default" href="index.php?site=create-genre">Neues Genre</a>
			<a class="btn btn-default" href="index.php?site=delete-genre">Genre löschen</a>
		</div>
		<br />

		<h2>Preisgruppen</h2>
		<div class="btn-group" role="group" aria-label="pricegroup">
			<a class="btn btn-default" href="index.php?site=create-pricegroup">Neue Preisgruppe</a>
			<a class="btn btn-default" href="index.php?site=delete-pricegroup">Preisgruppe löschen</a>
		</div>
		<br />

		<h2>Benutzer</h2>
		<div class="btn-group" role="group" aria-label="user">
			<a class="btn btn-default" href="index.php?site=create-user">Neuer Benutzer</a>
			<a class="btn btn-default" href="index.php?site=change-password">Passwort ändern</a>
		</div>
	</div>
{% endblock content %}