{% extends "index.html" %}

{% block content %}
	<h1>Eventkalender</h1>
	<div class="row">
		{% for event in oldEvents %}
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="{{ event.bild }}" alt="Bild des Events">
				<div class="caption">
					<p>{{ event.bildbeschreibung }}</p>
					<h3>{{ event.name }}</h3>
					<p class="subtitle"><b>Beschreibung</b></p>
					<p>{{ event.beschreibung }}</p>
					<p class="subtitle"><b>Besetzung</b></p>
					{% if event.besetzung|length > 1 %}
						<p>{{ event.besetzung }}</p>
					{% endif %}
					<p class="subtitle"><b>Datum</b></p>
					<p>{{ event.termin }}</p>
					<p class="subtitle"><b>Link</b></p>
					<p><a href="{{ event.link }}">{{ event.linkbeschreibung }}</a></p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}