{% extends "index.html" %}

{%block content %}
<h1>Passwort ändern</h1>
{% if status %}
<p>{{ status }}</p>
{% endif %}
<form action="index.php?site=change-password-submit" method="post">
	<div class="form-group">
		<label for="old">Altes Passwort</label>
		<input class="form-control" type="password" id="password" name="password" placeholder="********" required >
	</div>
	<div class="form-group">
		<label for="newOne">Neues Passwort</label>
		<input class="form-control" type="password" id="newPasswordOne" name="newPasswordOne" placeholder="********" required >
	</div>
	<div class="form-group">
		<label for="newTwo">Neues Passwort wiederholen</label>
		<input class="form-control" type="password" id="newPasswordTwo" name="newPasswordTwo" placeholder="********" required >
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
{%endblock content %}