{% extends "index.html" %}

{% block content %}
	<h1>Eventkalender</h1>
	<div class="row">
		{% for event in events %}
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="{{ event.bild }}" alt="Bild des Events">
				<div class="caption">
					<p>{{ event.bildbeschreibung }}</p>
					<h3>{{ event.name }}</h3>
					<p>{{ event.beschreibung }}</p>
					{% if event.besetzung|length > 1 %}
						<p>{{ event.besetzung }}</p>
					{% endif %}
					<p>Datum: {{ event.termin }}</p>
					{# <p>Preisgruppen </p><!-- Preisgruppen anzeigen --> #}
					<p>Dauer: {{ event.dauer }} Minuten</p>
					{# <p>Genre: {{  }}</p><!-- Zugehöriges Genre anzeigen --> #}
					<p><a href="{{ event.link }}">Link: {{ event.linkbeschreibung }}</a></p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}
