{% extends "index.html" %}

{% block content %}
<h1>Eventkalender</h1>
{% for event in events %}
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="event.bild" alt="Bild des Events">
			<div class="caption">
				<p>{{ event.bild-beschreibung }}</p>
				<h3>{{ event.name }}</h3>
				<p><b>{{ event.beschreibung }}<b></p>
				{% if event.besetzung > 1 %}
					<p><b>Besetzung</b></p>
					<p>{{ event.besetzung }}</p>
				{% endif %}
				<!--<p>Preisgruppen </p>--> <!-- Preisgruppen anzeigen -->
				<p>Dauer: {{ event.dauer }}</p>
				<!--<p>Genre: {{  }}</p>--> <!-- Zugehöriges Genre anzeigen -->
				<p><a href="{{ event.link }}">{{ event.link-beschreibung }}</a></p>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
{% endblock content %}